@model IEnumerable<GrandHood.ViewModel.GrandHoodViewModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GrandHood application</h1>
    <p class="lead">This is the GrandHood application demonstration developped by Bérenger BAILLY with ASP.NET MVC, EF and MS SQL DB</p>
</div>

<div class="row">
        <h2>Explanation about the app</h2>
        <p>
            This application display informations about companies and their employees.
            The home page will display concatenate informations about companies and their employees.
            Each page presents detailled infos about each entity, using EF.
        </p>
</div>

<div class="row">
        <table class="table">
            <tr>
                <th>
                    Company Name
                </th>
                <th>
                    Employee first name
                </th>
                <th>
                    Employee last name
                </th>
                <th>
                    Employee address
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompanyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeFistName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeLastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeAddress)
                    </td>
                </tr>
            }

        </table>

</div>